.ant-tabs-tabpane {
  height: 100vh;
}
.layout {
  background-color: #fff;
  max-width: 70vw;
}

.content-all-movies {
  background-color: #fff;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10% 85% 5%;
}

.header {
  background-color: #fff;
  text-align: center;
}

.footer {
  text-align: center;
}

.rated {
  height: 100%;
  background-color: #fff;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 95% 5%;
}

.spinner {
  align-self: center;
}


@media (max-width: 1045px) {
  .layout {
    max-width: 90vw;
  }
}

@media (max-width: 900px) {
  .layout {
    max-width: 100vw;
    display: flex;
  }

  .spinner {
    align-self: auto;
    padding-top: 40vh;
  }
}
