.data-absent {
    text-align: center;
  }

.movie-card-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-content: space-between;
    overflow-y: auto;
  }

  @media (max-width: 900px) {

    .movie-card-panel {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
}